<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bukit Asam</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manage-users" routerLinkActive=""
            >Kelola Pengguna</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manage-roles" routerLinkActive=""
            >Kelola Role</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manage-regions" routerLinkActive=""
            >Kelola Wilayah</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/deposit" routerLinkActive=""
            >Setoran</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Referensi
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/manage-ref/category-tax"
                >Kategori Pajak</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/manage-ref/sub-category-tax"
                >Sub Kategori Pajak</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <button class="btn btn-outline-danger ms-auto" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</nav>
