<app-navbar />
<div class="container mt-5">
  <form id="form_filter">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-2 mb-2">
          <button
            class="btn btn-sm w-100 mr-2 ml-2 mb-3 btn-outline-primary me-2"
            (click)="create_new(content)"
          >
            Create New
          </button>
          <button
            class="btn w-100 mr-2 ml-2 mb-2 btn-sm btn-outline-success"
            (click)="exportToExcel()"
          >
            Export as Excel
          </button>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="row mb-3">
                <label
                  for="colFormLabelSm"
                  class="col-sm-6 col-form-label col-form-label-sm"
                  >Dari Tanggal
                </label>
                <div class="col-sm-6">
                  <input
                    [(ngModel)]="selectFilter.startDate"
                    (change)="loadDeposit()"
                    type="date"
                    name="startDate"
                    class="form-control form-control-sm"
                    id="colFormLabelSm"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row mb-3">
                <label
                  for="colFormLabelSm"
                  class="col-sm-6 col-form-label col-form-label-sm"
                  >Sampai Tanggal
                </label>
                <div class="col-sm-6">
                  <input
                    [(ngModel)]="selectFilter.endDate"
                    (change)="loadDeposit()"
                    type="date"
                    name="endDate"
                    class="form-control form-control-sm"
                    id="colFormLabelSm"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="row mb-3">
                <label
                  for="colFormLabelSm"
                  class="col-sm-6 col-form-label col-form-label-sm"
                  >Penerima
                </label>
                <div class="col-sm-6">
                  <select
                    [(ngModel)]="selectFilter.refTax"
                    (change)="loadDeposit()"
                    name="refTax"
                    class="form-control form-control-sm"
                    id="colFormLabelSm"
                  >
                    <option value="" selected>-- Semua --</option>
                    <option *ngFor="let refTax of refTaxs" [value]="refTax.id">
                      {{ refTax.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row mb-3">
                <label
                  for="colFormLabelSm"
                  class="col-sm-6 col-form-label col-form-label-sm"
                  >Wilayah
                </label>
                <div class="col-sm-6">
                  <select
                    [(ngModel)]="selectFilter.refRegion"
                    (change)="loadDeposit()"
                    name="refRegion"
                    class="form-control form-control-sm"
                    id="colFormLabelSm"
                  >
                    <option value="" selected>-- Semua --</option>
                    <option
                      *ngFor="let refTax of refRegions"
                      [value]="refTax.id"
                    >
                      {{ refTax.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
      <ng-container matColumnDef="dateCreate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">
          {{ formatRegionDate(row.createdAt) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="hourCreate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hour</th>
        <td mat-cell *matCellDef="let row">
          {{ formatRegionHour(row.createdAt) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nominal</th>
        <td mat-cell *matCellDef="let row">
          {{ formatAmount(row.amount) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="ref_tax_abbr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kategori</th>
        <td mat-cell *matCellDef="let row">{{ row.ref_tax_abbr }}</td>
      </ng-container>
      <ng-container matColumnDef="ref_sub_tax_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kategori</th>
        <td mat-cell *matCellDef="let row">{{ row.ref_sub_tax_name }}</td>
      </ng-container>
      <!-- Fruit Column -->
      <ng-container matColumnDef="ref_region_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Wilayah</th>
        <td mat-cell *matCellDef="let row">{{ row.ref_region_name }}</td>
      </ng-container>
      <ng-container matColumnDef="region_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Wilayah</th>
        <td mat-cell *matCellDef="let row">{{ row.region_name }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Wilayah</th>
        <td mat-cell *matCellDef="let row">
          <button
            class="btn btn-warning me-2"
            (click)="editRegion(row, content)"
          >
            Edit
          </button>

          <button class="btn btn-danger" (click)="deleteRegion(row.id)">
            Delete
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 25, 100]"
      aria-label="Select page of deposit"
    ></mat-paginator>
  </div>

  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Jam</th>
        <th scope="col">Nominal</th>
        <th scope="col">Kategori</th>
        <th scope="col">Sub Kategori</th>
        <th scope="col">Wilayah</th>
        <th scope="col">Sub Wilayah</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let region of regions">
        <td>{{ region.id }}</td>
        <td>{{ formatRegionDate(region.createdAt) }}</td>
        <td>{{ formatRegionHour(region.createdAt) }}</td>
        <td>{{ formatAmount(region.amount, false) }}</td>
        <td>{{ region.ref_tax_abbr }}</td>
        <td>{{ region.ref_sub_tax_name }}</td>
        <td>{{ region.ref_region_name }}</td>
        <td>{{ region.region_name }}</td>
        <td>
          <button
            class="btn btn-warning me-2"
            (click)="editRegion(region, content)"
          >
            Edit
          </button>

          <button class="btn btn-danger" (click)="deleteRegion(region.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table> -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ selectDeposit?.id ? "Edit Region" : "Create New Region" }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectDeposit.amount"
            (input)="onAmountChange($event)"
            (blur)="onBlur()"
            name="amount"
            required
          />
        </div>
        <div class="mb-3">
          <label for="ref_tax_id" class="form-label">Penerimaan</label>
          <select
            class="form-select"
            [(ngModel)]="selectDeposit.ref_tax_id"
            (change)="onRefTaxChange()"
            name="ref_tax_id"
            required
          >
            <option value="" disabled selected>Pilih Penerima</option>
            <option *ngFor="let refTax of refTaxs" [value]="refTax.id">
              {{ refTax.name }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="ref_sub_tax_id" class="form-label">Jenis</label>
          <select
            class="form-select"
            [(ngModel)]="selectDeposit.ref_sub_tax_id"
            name="ref_sub_tax_id"
            required
          >
            <option value="" disabled selected>Pilih Penerima</option>
            <option *ngFor="let refSubTax of refSubTaxs" [value]="refSubTax.id">
              {{ refSubTax.name }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="ref_region_id" class="form-label">Katergori</label>
          <select
            class="form-select"
            [(ngModel)]="selectDeposit.ref_region_id"
            (change)="onCategoryChange()"
            name="ref_region_id"
            required
          >
            <option value="" disabled selected>Wilayah</option>
            <option *ngFor="let refRegion of refRegions" [value]="refRegion.id">
              {{ refRegion.name }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="region_id" class="form-label">Sub Wilayah</label>
          <select
            class="form-select"
            [(ngModel)]="selectDeposit.region_id"
            name="region_id"
          >
            <option value="">-</option>
            <option
              *ngFor="let refSubRegion of refSubRegions"
              [value]="refSubRegion.id"
            >
              {{ refSubRegion.name }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="modal.close('Save click')"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="saveRegion(modal)">
        {{ selectDeposit?.id ? "Update" : "Create" }}
      </button>
    </div>
  </ng-template>
</div>
