<app-navbar />
<div class="container mt-5">
  <button class="btn btn-sm btn-outline-primary" (click)="create_new(content)">
    Create New
  </button>
  <form id="form_filter">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4">
          <div class="row mb-3">
            <label
              for="colFormLabelSm"
              class="col-sm-6 col-form-label col-form-label-sm"
              >Dari Tanggal
            </label>
            <div class="col-sm-6">
              <input
                [(ngModel)]="selectFilter.startDate"
                (change)="loadDeposit()"
                type="date"
                name="startDate"
                class="form-control form-control-sm"
                id="colFormLabelSm"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row mb-3">
            <label
              for="colFormLabelSm"
              class="col-sm-6 col-form-label col-form-label-sm"
              >Sampai Tanggal
            </label>
            <div class="col-sm-6">
              <input
                [(ngModel)]="selectFilter.endDate"
                (change)="loadDeposit()"
                type="date"
                name="endDate"
                class="form-control form-control-sm"
                id="colFormLabelSm"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row mb-3">
            <label
              for="colFormLabelSm"
              class="col-sm-6 col-form-label col-form-label-sm"
              >Penerima
            </label>
            <div class="col-sm-6">
              <select
                [(ngModel)]="selectFilter.refTax"
                (change)="loadDeposit()"
                name="refTax"
                class="form-control form-control-sm"
                id="colFormLabelSm"
              >
                <option value="" selected>-- Semua --</option>
                <option *ngFor="let refTax of refTaxs" [value]="refTax.id">
                  {{ refTax.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row mb-3">
            <label
              for="colFormLabelSm"
              class="col-sm-6 col-form-label col-form-label-sm"
              >Wilayah
            </label>
            <div class="col-sm-6">
              <select
                [(ngModel)]="selectFilter.refRegion"
                (change)="loadDeposit()"
                name="refRegion"
                class="form-control form-control-sm"
                id="colFormLabelSm"
              >
                <option value="" selected>-- Semua --</option>
                <option *ngFor="let refTax of refRegions" [value]="refTax.id">
                  {{ refTax.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Jam</th>
        <th scope="col">Nominal</th>
        <th scope="col">Kategori</th>
        <th scope="col">Sub Kategori</th>
        <th scope="col">Wilayah</th>
        <th scope="col">Sub Wilayah</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let region of regions">
        <td>{{ region.id }}</td>
        <td>{{ formatRegionDate(region.createdAt) }}</td>
        <td>{{ formatRegionHour(region.createdAt) }}</td>
        <td>{{ formatAmount(region.amount, false) }}</td>
        <td>{{ region.ref_tax_abbr }}</td>
        <td>{{ region.ref_sub_tax_name }}</td>
        <td>{{ region.ref_region_name }}</td>
        <td>{{ region.region_name }}</td>
        <td>
          <button
            class="btn btn-warning me-2"
            (click)="editRegion(region, content)"
          >
            Edit
          </button>

          <button class="btn btn-danger" (click)="deleteRegion(region.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ selectDeposit?.id ? "Edit Region" : "Create New Region" }}
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectDeposit.amount"
            (input)="onAmountChange($event)"
            (blur)="onBlur()"
            name="amount"
            required
          />
        </div>
        <div class="mb-3">
          <label for="ref_tax_id" class="form-label">Penerimaan</label>
          <select
            class="form-select"
            [(ngModel)]="selectDeposit.ref_tax_id"
            (change)="onRefTaxChange()"
            name="ref_tax_id"
            required
          >
            <option value="" disabled selected>Pilih Penerima</option>
            <option *ngFor="let refTax of refTaxs" [value]="refTax.id">
              {{ refTax.name }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="ref_sub_tax_id" class="form-label">Jenis</label>
          <select
            class="form-select"
            [(ngModel)]="selectDeposit.ref_sub_tax_id"
            name="ref_sub_tax_id"
            required
          >
            <option value="" disabled selected>Pilih Penerima</option>
            <option *ngFor="let refSubTax of refSubTaxs" [value]="refSubTax.id">
              {{ refSubTax.name }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="ref_region_id" class="form-label">Katergori</label>
          <select
            class="form-select"
            [(ngModel)]="selectDeposit.ref_region_id"
            (change)="onCategoryChange()"
            name="ref_region_id"
            required
          >
            <option value="" disabled selected>Pilih Kategori</option>
            <option *ngFor="let refRegion of refRegions" [value]="refRegion.id">
              {{ refRegion.name }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="province" class="form-label">Province</label>
          <select
            class="form-select"
            [(ngModel)]="selectDeposit.region_id"
            name="province"
          >
            <option value="">-</option>
            <option
              *ngFor="let refSubRegion of refSubRegions"
              [value]="refSubRegion.id"
            >
              {{ refSubRegion.name }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="modal.close('Save click')"
      >
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="saveRegion(modal)">
        {{ selectDeposit?.id ? "Update" : "Create" }}
      </button>
    </div>
  </ng-template>
</div>
